body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    background-color: rgb(255, 255, 255);
    text-align: left;
    font-size: 1.5rem;
    border-radius: 5%;
    color: rgb(40, 40, 40);
    overflow: auto;
}

.header {
    background-color: black;
    color: white;
    display: flex;
}

.body-content {
    display: flex;
    padding: 0;
}

.main-content {
    background-color: #E7E6E6;
    height: 110vh;
}

.apple-name {
    margin: 0 20px;
}

.header-items {
    align-items: center;
    display: flex;
}

.header-item {
    list-style: none;
    margin: 10px;
}


.main {
    margin-top: 8px;
    margin-left: 8px; /* Same width as the sidebar + left position in px */
    /*font-size: 28px;*/ /* Increased text to enable scrolling */
    padding: 0px;
}

/*============================================================
Header
============================================================*/

.header {
    z-index: 2;
    background: black;
    /*position: fixed;*/
    top: 0;
    left: 0;
    height: auto;
    padding: 8px;
    border-bottom: 1px solid #888;
    width: 100%;
    font-size: 1.3em;
    color: rgb(240,240,240);
}

.header {
    text-align: center;
    display: flex;
    height: auto;
}

div#main_contents {
    margin: 0px 0px 0px 0px;
}


fieldset {
    border-width: 1px;
    color: rgb(40, 40, 40);
    border-color: silver;
    border-style: groove;
    padding: 10px;
    margin: 0px;
    width: 100%;
    height: auto;
    border-radius: 6px;
    overflow-x: auto;
    margin-bottom:5px;
}

legend, legend.inner {
    color: rgb(40, 40, 40);
    font-size: 1.2em;
    width: 100%;
    border-bottom: none;
    padding: 0 5px 0 5px;
    margin-bottom: 0px;
}

legend {
    background-color: transparent;
    width: 100%;
    height: 100%;
    display: contents;
}

button {
    margin: 3px 0px 3px 0px;
    border: 0;
    /*background-color: transparent;*/
    color: rgb(80,80,80);
}

button:hover {
    text-decoration: none;
    background-color: rgb(220, 220, 220);
}

button:focus {
    outline: 0;
}

button:disabled:hover,
button:disabled:focus,
button:disabled:hover,
button:disabled {
    color: rgb(220, 220, 220);
    pointer-events: none;
}

table {
    border-spacing: 2px;
}

.tableModal {
    /*table-layout: auto;*/
}
/*table, th, td {
    border: 1px solid black;
}
*/

td:before {
    content: '';
    display: block;
    width: 1em;
    min-height:0.1em;
}

i {
    padding-right: 0.3em;
}

.EventSection {
    display: table;
    width: auto;
    text-align: left;
    margin: 0;
    padding: 0px;
}

/*============================================================
Tooltip
============================================================*/
.modalToolTip {
    position: relative;
}

    /* Tooltip text */
    .modalToolTip .tooltiptext {
        font-size: 0.8em;
        visibility: hidden;
        width: 250px;
        background-color: #555;
        color: #fff;
        text-align: center;
        padding: 3px 0;
        border-radius: 6px;
        /* Position the modalToolTip text */
        position: absolute;
        z-index: 3;
        top: -5px;
        left: 110%;
        margin-left: 1px;
        /* Fade in modalToolTip */
        opacity: 0;
        transition: opacity 0.3s;
    }

        /* Tooltip arrow */
        .modalToolTip .tooltiptext::after {
            content: "";
            position: absolute;
            top: 50%;
            right: 100%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: transparent #555 transparent transparent;
        }

    /* Show the modalToolTip text when you mouse over the modalToolTip container */
    .modalToolTip:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
    }

.modalLabel {
    font-weight: 400;
    padding-right: 0.5em;
    margin: 1px 0 1px 0;
    vertical-align: middle;
    white-space: nowrap;
}

.modalTr {
    height: 2.2em;
    vertical-align: middle;
    padding: 1px 0 1px 0
}

.modalButton {
    padding-left: 1em;
    padding-right: 1em;
    margin: 1px 0 1px 0;
    min-width: 10em;
    float:right;
}

.modalTdIcon {
    width: 1.5em;
    margin-left: 0.5em;
}

.modalTdLabel {
    min-width: 9em;
}

.modalTdContents {
    max-width: 20em;
    width:100%;
}

.modalTdButton {
    width: 20%;
}

.modalTdAddLabel {
    padding-left: 0.6em;
    min-width: 11em;
    white-space: nowrap
}

.glyphicon {
    padding-right: 0.5em;
}

.switch {
    position: relative;
    display: inline-block;
    width: 2.6em;
    height: 1.3em;
    float:left;
    margin-right:0.5em;
}

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 0.8em;
        width: 0.8em;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(1.0em);
    -ms-transform: translateX(1.0em);
    transform: translateX(1.0em);
}

/* Rounded sliders */
.slider.round {
    border-radius: 0.8em;
}

.slider.round:before {
    border-radius: 50%;
}

input[type=radio] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    height: 20px;
    width: 20px;
    vertical-align: -0.6rem;
    transition: all .15s ease-out 0s;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    outline: none;
    border-radius: 10%;
}

    input[type=radio].blue
    {
        border-radius: 50%;
        outline:0;
    }

    input[type=radio]:checked:before {
        transform: scale(1);
    }

    input[type=radio]:before {
        content: "";
        display: block;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        transform: scale(0);
        transition: all ease-out 250ms;
    }

    input[type=radio].blue {
        border: 2px solid #aaa;
    }

        input[type=radio].blue:checked:before {
            background: #2196F3;
            border: 0;
            margin-top: 0.5px;
            margin-left:0.5px;
        }
