@model InnovateFPGA2021_WebApp.Models.HomeView
@{
    ViewData["Title"] = "InnovateFPGA Azure Demo";
}

<!--------------------------------------------------
Main Page
--------------------------------------------------->
<div class="main">

    <!--------------------------------------------------
    Telemetry and Events.  Updated via SignalR
    --------------------------------------------------->
    <fieldset>
        <legend><strong>Device Telemetry and Events</strong></legend>
        <div class="EventSection">
            <button type="button" id="clear-events"><i class="far fa-trash-alt"></i>Clear Events</button>
            <table id="device-events" class="table table-striped" style="max-height: 50vh;overflow: auto">
                <thead>
                <th>&nbsp;</th>
                <th>Event Time(UTC)</th>
                <th>Device ID</th>
                <th>Model ID</th>
                <th>Event Type</th>
                <th>Event Source</th>
                </thead>
                <tbody id="device-event-details"></ tbody >
            </table>
        </div>
    </fieldset>
</div>

<div class="modal fade" id="modal-iothub" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="modal-label">Device Information : Azure IoT Hub</h4>
            </div>
            <div class="modal-body">
                <fieldset>
                    <table style="width:100%;" class="tableModal">
                        <tr class="modalTr" style="background-color:#E7E9EB">
                            <td>
                                <div class="modalToolTip">
                                    <span class="modalTdIcon glyphicon glyphicon-info-sign"></span>
                                    <span class="tooltiptext">Device ID in Azure IoT Hub.</span>
                                </div>
                            </td>
                            <td class="modalTdLabel">
                                <label class="modalLabel">Device ID</label>
                            </td>
                            <td class="modalTdContents">
                                <div style="width:95%;font-size:1.1em">
                                    <select id="iotHubDeviceList" style="width:80%;padding:3px">
                                    </select>
                                </div>
                            </td>
                            <td>
                                <button type="button" id="btnDeleteDevice" class="modalButton" disabled><span class="modalTdIcon glyphicon glyphicon-trash"></span>Delete</button>
                            </td>
                        </tr>
                        <tr class="modalTr">
                            <td>
                                <div class="modalToolTip">
                                    <span class="modalTdIcon glyphicon glyphicon-info-sign"></span>
                                    <span class="tooltiptext">Status of device connection.  Device is either online (Connected) or offline (Disconnected).</span>
                                </div>
                            </td>
                            <td class="modalTdLabel">
                                <label class="modalLabel">Connection State</label>
                            </td>
                            <td class="modalTdContents">
                                <div id="deviceConnectionState">
                                    &nbsp;
                                </div>
                            </td>
                            <td>
                                <button type="button" id="btnDeviceConnectionRefresh" class="modalButton"><span class="modalTdIcon glyphicon glyphicon-refresh"></span>Refresh</button>
                            </td>
                        </tr>

                        <tr class="modalTr" style="background-color:#e7e9eb">
                            <td>
                                <div class="modalToolTip">
                                    <span class="modalTdIcon glyphicon glyphicon-info-sign"></span>
                                    <span class="tooltiptext">IoT Plug and Play Digital Twin Model ID (DTMI).</span>
                                </div>
                            </td>
                            <td class="modalTdLabel">
                                <label class="modalLabel">Device Model ID</label>
                            </td>
                            <td class="modalTdContents">
                                <div id="deviceModelId" style="width:inherit;overflow-x:hidden; white-space:nowrap;">
                                    &nbsp;
                                </div>
                            </td>
                            <td>
                                <button type="button" id="btnDeviceModelIdCopy" class="modalButton"  disabled><span class="modalTdIcon glyphicon glyphicon-copy"></span>Copy</button>
                            </td>
                        </tr>

                        <tr class="modalTr">
                            <td>
                                <div class="modalToolTip">
                                    <span class="modalTdIcon glyphicon glyphicon-copy"></span>
                                    <span class="tooltiptext">Device Connection String to be used to connect device to Azure IoT Hub</span>
                                </div>
                            </td>
                            <td class="modalTdLabel">
                                <label class="modalLabel">Connection String</label>
                            </td>
                            <td class="modalTdContents">
                                <div id="deviceConnectionString" style="overflow-x: hidden; max-width: 95%; white-space: nowrap;">
                                    &nbsp;
                                </div>
                            </td>
                            <td>
                                <button type="button" id="btnDeviceConnectionStringCopy" class="modalButton"  disabled><span class="modalTdIcon glyphicon glyphicon-copy"></span>Copy</button>
                            </td>
                        </tr>

                        <tr class="modalTr" style="background-color:#E7E9EB">
                            <td>
                                <div class="modalToolTip">
                                    <span class="modalTdIcon glyphicon glyphicon-copy"></span>
                                    <span class="tooltiptext">A key used to authenticate device with IoT Hub.</span>
                                </div>
                            </td>
                            <td class="modalTdLabel">
                                <label class="modalLabel">Symmetric Key</label>
                            </td>
                            <td class="modalTdContents">
                                <div id="deviceKey" style="overflow-x: hidden;max-width:95%">
                                    &nbsp;
                                </div>
                            </td>
                            <td>
                                <button type="button" id="btnDeviceKeyCopy" class="modalButton" disabled><span class="modalTdIcon glyphicon glyphicon-copy"></span>Copy</button>
                            </td>
                        </tr>
                    </table>
                </fieldset>

                <fieldset id="fieldEdgeModule" hidden>
                    <table style="width:100%;" class="tableModal">
                        <tr class="modalTr" style="background-color:#E7E9EB">
                            <td>
                                <div class="modalToolTip">
                                    <span class="modalTdIcon glyphicon glyphicon-info-sign"></span>
                                    <span class="tooltiptext">Module ID of Azure IoT Edge.</span>
                                </div>
                            </td>
                            <td class="modalTdLabel">
                                <label class="modalLabel">Module ID</label>
                            </td>
                            <td class="modalTdContents">
                                <div style="width:100%;font-size:1.1em">
                                    <select id="iotHubModuleList" style="width:80%;padding:3px">
                                    </select>
                                </div>
                            </td>
                            <td class="modalTdButton">
                                <button type="button" id="btnDeleteModule" class="modalButton" style="visibility:hidden"></button>
                            </td>
                        </tr>
                        <tr class="modalTr">
                            <td>
                                <div class="modalToolTip">
                                    <span class="modalTdIcon glyphicon glyphicon-info-sign"></span>
                                    <span class="tooltiptext">Status of Azure IoT Edge module.  The Module is either online (Connected) or offline (Disconnected).</span>
                                </div>
                            </td>
                            <td class="modalTdLabel">
                                <label class="modalLabel">Module State</label>
                            </td>
                            <td class="modalTdContents">
                                <div id="moduleState">
                                    &nbsp;
                                </div>
                            </td>
                            <td class="modalTdButton">
                                <button type="button" id="btnModuleConnectionRefresh" class="modalButton"><span class="modalTdIcon glyphicon glyphicon-refresh"></span>Refresh</button>
                            </td>
                        </tr>

                        <tr class="modalTr" style="background-color:#e7e9eb">
                            <td>
                                <div class="modalToolTip">
                                    <span class="modalTdIcon glyphicon glyphicon-info-sign"></span>
                                    <span class="tooltiptext">IoT Plug and Play Digital Twin Model ID (DTMI).</span>
                                </div>
                            </td>
                            <td class="modalTdLabel">
                                <label class="modalLabel">Module Model ID</label>
                            </td>
                            <td class="modalTdContents">
                                <div id="moduleModelId" style="width:inherit;overflow-x:hidden; white-space:nowrap;">
                                    &nbsp;
                                </div>
                            </td>
                            <td class="modalTdButton">
                                <button type="button" id="btnDeviceModelIdCopy" class="btn modalButton" disabled><span class="modalTdIcon glyphicon glyphicon-copy"></span>Copy</button>
                            </td>
                        </tr>

                    </table>
                </fieldset>
                <fieldset>
                    <table style="width:100%">
                        <tr data-toggle="collapse" data-target="#new-deviceid" class="accordian-toggle" style="width:100%">
                            <td style="text-align:center">
                                <button type="button" id="btnIoTHubNewDevice" class="modalButton" style="width:100%">
                                    <span class="modalTdIcon glyphicon glyphicon-chevron-down"></span>
                                    Add New Device ID
                                    <span class="modalTdIcon glyphicon glyphicon-chevron-down"></span>
                                </button>
                            </td>
                        </tr>
                        <tr class="hiddenRow collapse" id="new-deviceid" style="margin-top:1em">
                            <td style="white-space:nowrap">
                                <div class="accordian-body" style="margin-top:1em">
                                    <table width="100%">
                                        <tr class="modalTr" style="background-color:#E7E9EB">
                                            <td class="modalTdAddLabel">
                                                New Device ID
                                            </td>
                                            <td style="width:99%">
                                                <input type="text" id="newDeviceId" style="width: 80%" />
                                            </td>
                                        </tr>
                                        <tr class="modalTr">
                                            <td class="modalTdAddLabel">
                                                Capability
                                            </td>
                                            <td>
                                                <label class="modalLabel switch">
                                                    <input type="checkbox" id="newDeviceEdge">
                                                    <span class="slider round"></span>
                                                </label>
                                                <label class="modalLabel">
                                                    IoT Edge
                                                </label>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <button type="button" id="btnNewDeviceIdCreate" class="modalButton"  disabled>Create</button>
                            </td>
                        </tr>
                    </table>
                </fieldset>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-dps" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="modal-label">Device Provisioning : DPS</h4>
            </div>
            <div class="modal-body">
                <fieldset>
                    <table style="width:100%;" class="tableModal">
                        <tr class="modalTr" style="background-color:#E7E9EB">
                            <td>
                                <div class="modalToolTip">
                                    <span class="modalTdIcon glyphicon glyphicon-info-sign"></span>
                                    <span class="tooltiptext">List of DPS device enrollments.</span>
                                </div>
                            </td>
                            <td class="modalTdLabel">
                                <label class="modalLabel">Enrollment</label>
                            </td>
                            <td class="modalTdContents">
                                <div style="width:95%;font-size:1.1em">
                                    <select id="dpsEnrollmentList" style="width:inherit;padding:3px">
                                    </select>
                                </div>
                            </td>
                            <td>
                                <button type="button" id="btnDpsEnrollmentDelete" class="modalButton"  disabled><span class="modalTdIcon glyphicon glyphicon-trash"></span>Delete</button>
                            </td>
                        </tr>

                        <tr class="modalTr">
                            <td>
                                <div class="modalToolTip">
                                    <span class="modalTdIcon glyphicon glyphicon-info-sign"></span>
                                    <span class="tooltiptext">Type of DPS Enrollmnet.  Either Group or Individual</span>
                                </div>
                            </td>
                            <td class="modalTdLabel">
                                <label class="modalLabel">Enrollment Type</label>
                            </td>
                            <td>
                                <div id="dpsEnrollmentType" style="overflow-x: hidden;max-width:95%">
                                    &nbsp;
                                </div>
                            </td>
                            <td>
                                <button type="button" class="modalButton" style="visibility:hidden" disabled>Dummy</button>
                            </td>
                        </tr>

                        <tr class="modalTr" style="background-color:#E7E9EB">
                            <td>
                                <div class="modalToolTip">
                                    <span class="modalTdIcon glyphicon glyphicon-copy"></span>
                                    <span class="tooltiptext">ID Scope of DPS</span>
                                </div>
                            </td>
                            <td class="modalTdLabel">
                                <label class="modalLabel">ID Scope</label>
                            </td>
                            <td>
                                <div id="dpsIdScope" style="overflow-x: hidden;max-width:95%">
                                    @ViewData["DpsIdScope"].ToString().Trim()
                                </div>
                            </td>
                            <td>
                                <button type="button" id="btnDpsIdScopeCopy" class="modalButton"  disabled><span class="modalTdIcon glyphicon glyphicon-copy"></span>Copy</button>
                            </td>
                        </tr>

                        <tr class="modalTr">
                            <td>
                                <div class="modalToolTip">
                                    <span class="modalTdIcon glyphicon glyphicon-copy"></span>
                                    <span class="tooltiptext">Copy primary key used to authenticate device with DPS.</span>
                                </div>
                            </td>
                            <td class="modalTdLabel">
                                <label class="modalLabel">Symmetric Key</label>

                            </td>
                            <td class="modalTdContents">
                                <div id="dpsKey" style="overflow-x: hidden;max-width:95%">
                                    &nbsp;
                                </div>
                            </td>
                            <td>
                                <button type="button" id="btnDpsKeyCopy" class="modalButton"  disabled><span class="modalTdIcon glyphicon glyphicon-copy"></span>Copy</button>
                            </td>
                        </tr>
                    </table>
                </fieldset>
                <fieldset>
                    <table style="width:100%">
                        <tr data-toggle="collapse" id="new-enrollmentAdd" data-target="#new-enrollment" class="accordian-toggle" style="width:100%">
                            <td style="text-align:center">
                                <button type="button" id="btnDpsAddEnrollment" class="modalButton" style="width:100%">
                                    <span class="modalTdIcon glyphicon glyphicon-chevron-down"></span>
                                    Add New Enrollment
                                    <span class="modalTdIcon glyphicon glyphicon-chevron-down"></span>
                                </button>
                            </td>
                        </tr>
                        <tr class="hiddenRow collapse" id="new-enrollment" style="margin-top:1em">
                            <td style="white-space: nowrap">
                                <div class="accordian-body" style="margin-top:1em">
                                    <table width="100%">
                                        <tr class="modalTr" style="background-color:#E7E9EB">
                                            <td class="modalTdAddLabel">
                                                Enrollment Name
                                            </td>
                                            <td style="width: 99%">
                                                <input type="text" id="dpsNewEnrollmentName" style="width: 80%" />
                                            </td>
                                        </tr>
                                        <tr class="modalTr">
                                            <td class="modalTdAddLabel">
                                                Enrollment Type
                                            </td>
                                            <td>
                                                <div id="dpsNewEnrollmentType">
                                                    <div class="radio-blue">
                                                        <input type="radio" id="radioDpsIndividual" name="newEnrollmentTypeRadio" value="individual" checked="checked">
                                                        <label class="modalLabel" for="radioDpsIndividual">Individual</label>
                                                    </div>

                                                    <div class="radio-blue">
                                                        <input type="radio" id="radioDpsGroup" name="newEnrollmentTypeRadio" value="group">
                                                        <label class="modalLabel" for="radioDpsGroup">Group</label>
                                                    </div>

                                                </div>

                                            </td>
                                        </tr>
                                        <tr class="modalTr" style="background-color:#E7E9EB">
                                            <td class="modalTdAddLabel">
                                                Capability
                                            </td>
                                            <td>
                                                <label class="modalLabel switch">
                                                    <input type="checkbox" id="newDpsEdge">
                                                    <span class="slider round"></span>
                                                </label>
                                                <label class="modalLabel">
                                                    IoT Edge
                                                </label>
                                            </td>
                                        </tr>


                                    </table>
                                </div>
                                <button type="button" id="btnDpsNewEnrollmentCreate" class="modalButton"  disabled>Create</button>
                            </td>
                        </tr>
                    </table>
                </fieldset>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!--------------------------------------------------
Script block to update Telemetry/Events grid
--------------------------------------------------->
<script id="event-template-telemetry" type="text/x-handlebars-template">
    <tr data-toggle="collapse" data-target="#event-{{eventId}}" class="accordian-toggle">
        <td>
            <button class="btn btn-primary btn-xs">
                <i class="fas fa-angle-double-down" onclick="toggleEvent(this)" data-targetId="#event-{{eventId}}"></i>
            </button>
        </td>
        <td>{{eventTime}}</td>
        <td>{{eventDeviceId}}</td>
        <td>{{eventModelId}}</td>
        <td style="color:red">{{eventSource}}</td>
        <td>{{eventType}}</td>
    </tr>
    <tr class="hiddenRow collapse" id="event-{{eventId}}">
        <td colspan="12">
            <div class="accordian-body">
                <pre><code class="nohighlight">{{eventData}}</code></pre>
            </div>
        </td>
    </tr>
</script>

<script id="event-template-eventGrid" type="text/x-handlebars-template">
    <tr data-toggle="collapse" data-target="#event-{{eventId}}" class="accordian-toggle">
        <td>
            <button class="btn btn-primary btn-xs">
                <i class="fas fa-angle-double-down" onclick="toggleEvent(this)" data-targetId="#event-{{eventId}}"></i>
            </button>
        </td>
        <td>{{eventTime}}</td>
        <td>{{eventDeviceId}}</td>
        <td>{{eventModelId}}</td>
        <td style="color:blue">{{eventSource}}</td>
        <td>{{eventType}}</td>
    </tr>
    <tr class="hiddenRow collapse" id="event-{{eventId}}">
        <td colspan="12">
            <div class="accordian-body">
                <pre><code class="nohighlight">{{eventData}}</code></pre>
            </div>
        </td>
    </tr>
</script>

@section scripts
{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.js"></script>
    <script type="text/javascript">

        var hubConnection;
        //
        // Initialization on page load
        //
        var initialize = function () {

            var clearEvents = document.getElementById('clear-events');
            clearEvents.addEventListener('click', function () {
                clearEventData();
            });

            // SignalR
            hubConnection = new signalR.HubConnectionBuilder()
                .withUrl("telemetryhub")
                .configureLogging(signalR.LogLevel.Information)
                .build();

            hubConnection
                .start()
                .then(() => console.log('SignalR Connection Started'))
                .catch(err => console.error(err.toString()));

            hubConnection.on('SignalRTest', function (payload) {
                alert("SignalR Test : " + JSON.stringify(payload));
            });

            hubConnection.on('DeviceTelemetry', function (payload) {
                var jsonData = JSON.parse(payload);
                console.log("DeviceTelemetry");
                addEvent(jsonData.eventId, jsonData.eventType, jsonData.deviceId, jsonData.dtDataSchema, jsonData.eventSource, jsonData.eventTime, jsonData.data);
            });

            hubConnection.on('DeviceTwinChange', function (payload) {
                var jsonData = JSON.parse(payload)
                console.log("DeviceTwinChange");
                addEvent(jsonData.eventId, jsonData.eventType, jsonData.deviceId, jsonData.dtDataSchema, jsonData.eventSource, jsonData.eventTime, jsonData.data);
            });

            hubConnection.on('DigitalTwinChange', function (payload) {
                var jsonData = JSON.parse(payload)
                addEvent(jsonData.eventId, jsonData.eventType, jsonData.deviceId, jsonData.dtDataSchema, jsonData.eventSource, jsonData.eventTime, jsonData.data);
            });

            hubConnection.on('DeviceLifecycle', function (payload) {
                var jsonData = JSON.parse(payload)
                addEvent(jsonData.eventId, jsonData.eventType, jsonData.deviceId, jsonData.dtDataSchema, jsonData.eventSource, jsonData.eventTime, jsonData.data);
                console.log("DeviceLifecycle " + jsonData.eventSource);
            });

            hubConnection.on('EventGrid', function (payload) {
                var jsonData = JSON.parse(payload)
                addEvent(jsonData.eventId, jsonData.eventType, jsonData.deviceId, jsonData.dtDataSchema, jsonData.eventSource, jsonData.eventTime, jsonData.data);
            });
        };


        //
        // Clears device events (messages and events)
        //
        var clearEventData = function () {
            $('#device-events').find("tr:gt(0)").remove();
            $('#device-events').hide();
        }

        //
        // Adds device events to the table
        //
        var addEvent = function (id, type, deviceId, deviceModelId, source, time, data) {
            var dataObj = JSON.parse(data);
            var context = {
                eventTime: time,
                eventDeviceId: deviceId,
                eventModelId: deviceModelId,
                eventType: type,
                eventSource: source,
                eventId: id,
                eventData: JSON.stringify(dataObj, undefined, 2)
            };

            var templateSource;

            if (source == "Telemetry") {
                templateSource = document.getElementById('event-template-telemetry').innerHTML;
            }
            else {
                templateSource = document.getElementById('event-template-eventGrid').innerHTML;
            }
            var template = Handlebars.compile(templateSource);
            var html = template(context);

            $('#device-events').show();
            $('#device-event-details').prepend(html);
        }

        //
        // Functions for IoT Hub Device Modal Dialog
        //
        //
        // User selected a device
        //
        $('#iotHubDeviceList').change(function (e) {
            var selectedItem = $('#iotHubDeviceList option:selected')

            if (selectedItem != null) {
                var deviceId = selectedItem.text().trim();
                console.log("device selected " + deviceId);
                IoTHubGetDeviceInfo(deviceId, "@ViewData["IoTHubName"]");

                if (selectedItem.attr('data-isEdge') == "True") {
                    IoTHubModuleEnable(true);
                    IoTHubModuleListGet(deviceId, null);
                }
                else {
                    IoTHubModuleEnable(false);
                }

                DisableButton($('#btnDeleteDevice'), false);
            }
            else {
                DisableButton($('#btnDeleteDevice'), true);
            }
        });

        //
        // User selected a module
        //
        $('#iotHubModuleList').change(function (e) {
            var selectedItem = $('#iotHubModuleList option:selected')

            if (selectedItem != null) {
                var moduleId = selectedItem.text().trim();
                console.log("module selected " + moduleId);

                $('#moduleState').html(selectedItem.attr('data-Status'))
                $('#moduleModelId').html(selectedItem.attr('data-ModelId'))
            }
            else {
                IoTHubModalClear();
            }
        });

        //
        // User entered new device id
        //
        $('#newDeviceId').change(function (e) {
            var newDevice = $('#newDeviceId').val().trim();
            if (newDevice.length > 0) {
                DisableButton($('#btnNewDeviceIdCreate'), false);
            }
            else {
                $('#newDeviceId').val("");
                DisableButton($('#btnNewDeviceIdCreate'), true);
            }
        });

        //
        // User entered new enrollment name
        //
        $('#dpsNewEnrollmentName').change(function (e) {
            var newEnrollment = $('#dpsNewEnrollmentName').val().trim();
            if (newEnrollment.length > 0) {
                DisableButton($('#btnDpsNewEnrollmentCreate'), false);
            }
            else {
                $('#dpsNewEnrollmentName').val("");
                DisableButton($('#btnDpsNewEnrollmentCreate'), true);
            }
        });


        //
        // User selected an enrollment
        //
        $('#dpsEnrollmentList').change(function () {
            var selectedItem = $('#dpsEnrollmentList option:selected').text().trim();
            if (selectedItem.length > 0) {
                console.log("Enrollment selected " + selectedItem);
                DpsEnrollmentGet(selectedItem, "@ViewData["IoTHubName"]");

                DisableButton($('#btnDpsEnrollmentDelete'), false);
            }
            else {
                DisableButton($('#btnDpsEnrollmentDelete'), true);
            }
        });

        //
        // Button Events
        //

        // Modal Dialog
        $('#btnModalIoTHubShow').click(function (e) {
            console.log("Button " + e.target.id + " Click");
            //IoTHubModalClear();
            IoTHubDeviceListGet(null);
        });

        $('#btnModalDpsShow').click(function (e) {
            console.log("Button " + e.target.id + " Click");
            DpsEnrollmentListGet(null);
        });

        // IoT Hub Modal
        $('#btnDeleteDevice').click(function (e) {
            console.log("Button " + e.target.id + " Click");
            var selectedItem = $('#iotHubDeviceList option:selected').text();
            if (selectedItem.length > 0) {
                console.log("Deleting Device " + selectedItem);
                IoTHubDeviceDelete(selectedItem);
            }
        });

        $('#btnDeviceConnectionRefresh').click(function (e) {
            console.log("Button " + e.target.id + " Click");
            var selectedItem = $('#iotHubDeviceList option:selected').text();
            if (selectedItem.length > 0) {
                IoTHubModalClear();
                console.log("Refreshing Device Data for " + selectedItem);
                IoTHubGetDeviceInfo(selectedItem, "@ViewData["IoTHubName"]");
                $('#iotHubDeviceList').val(selectedItem).change();
            }
            else {
                IoTHubDeviceListGet(null);
            }
        });

        $('#btnDeviceModelIdCopy').click(function (e) {
            console.log("Button " + e.target.id + " Click");
            navigator.clipboard.writeText($('#deviceModelId').html().trim());
        });

        $('#btnDeviceConnectionStringCopy').click(function (e) {
            console.log("Button " + e.target.id + " Click");
            navigator.clipboard.writeText($('#deviceConnectionString').html().trim());
        });

        $('#btnDeviceKeyCopy').click(function (e) {
            console.log("Button " + e.target.id + " Click");
            navigator.clipboard.writeText($('#deviceKey').html().trim());
        });

        $('#btnNewDeviceIdCreate').click(function (e) {
            console.log("Button " + e.target.id + " Click");
            var newDeviceId = $('#newDeviceId').val();
            if (newDeviceId.length > 0) {
                var isEdge = $('#newDeviceEdge').is(':checked');
                console.log("Adding Device " + newDeviceId);
                IoTHubDeviceCreate(newDeviceId, isEdge);
            }
        });

        // DPS Modal
        $('#btnDpsEnrollmentDelete').click(function (e) {
            console.log("Button " + e.target.id + " Click");
            var selectedItem = $('#dpsEnrollmentList option:selected').text();
            if (selectedItem.length > 0) {
                var isGroup = $('#dpsEnrollmentList option:selected').attr("data-isGroup");
                DpsEnrollmentDelete(selectedItem, isGroup)
            }
        });

        $('#btnDpsIdScopeCopy').click(function (e) {
            console.log("Button " + e.target.id + " Click");
            navigator.clipboard.writeText($('#dpsIdScope').html().trim());
        });

        $('#btnDpsKeyCopy').click(function (e) {
            console.log("Button " + e.target.id + " Click");
            navigator.clipboard.writeText($('#dpsKey').html().trim());
        });

        $('#btnDpsNewEnrollmentCreate').click(function (e) {
            console.log("Button " + e.target.id + " Click");
            var enrollmentName = $('#dpsNewEnrollmentName').val();

            if (enrollmentName.length > 0) {
                var selectedEnrollmentType = $("input:radio[name=newEnrollmentTypeRadio]:checked").val();
                var isGroup = false;
                if (selectedEnrollmentType == 'group') {
                    isGroup = true;
                }

                var isEdge = $('#newDpsEdge').is(':checked');

                bCreated = DpsEnrollmentCreate(enrollmentName, isGroup, isEdge);
            }
        });

        $(document).ready(function () {
            console.log("Ready");

            $('#modal-dps').on('show.bs.modal', function () {
                console.log("Debug : Show DPS Modal");
                if ($('#dpsIdScope').html().length > 0) {
                    DisableButton($('#btnDpsIdScopeCopy'), false);
                }
            });

            $('#modal-dps').on('hidden.bs.modal', function () {
                DpsModalClear();
                $("#new-enrollment").collapse('hide');
            });

            $("#modal-iothub").on('show.bs.modal', function () {
                console.log("Debug : Show IoT Hub Modal");
            });

            $("#modal-iothub").on('hidden.bs.modal', function () {
                IoTHubModalClear();
                $("#new-deviceid").collapse('hide');
                $('#fieldEdgeModule').hide();
            });

        });
    </script>
}
